

<link rel="stylesheet" href="../assets/css/stacks.css">
<div class="stacks-1" >

  <img src="{{site.baseurl}}/assets/images/with_rocket.gif" style="padding:1%; width:25rem; height:25rem; border-radius: 30px;" />

  <div>
  <p>
  HackOverflow is an annual collegiate Hardware Hackathon that provides students from all 
  backgrounds and interests with a fun opportunity to learn, collaborate in teams, and build 
  physical product prototypes of what could be the next big thing.
  </p>
  </div>

</div>

  <div style="padding:1rem;" ></div>

<div class="stacks-2" >
  <div>
    <p>
      The purpose of HackOverflow is to create a diverse environment where students can work hands-on 
      with society-impactful projects and attain technical skills applicable for future careers. 
      There is ample opportunity to network with peers, mentors, and industry experts. 
    </p>
  </div>
  <img src="{{site.baseurl}}/assets/images/welcome_back.png" style="padding:1%; width:25rem; height:25rem; border-radius: 30px;" />
</div>

  <div style="padding:1rem;" ></div>

<div class="stacks-3" >
  <img src="{{site.baseurl}}/assets/images/HOW_BoardPic.png" style="padding:1%; width:25rem; height:25rem; border-radius: 30px;" />
  <div>
    <p>
      At HackOverflow, we strive to develop the community through education, ideation, teamwork, 
      initiative, and invention. Our goal is to showcase the brilliance of technology and its power 
      to do wonders for society.
    </p>
  </div>
</div>