<html>
  <head>
  <style>
  </style>
  </head>
  
<body>

<p><br></p>
<h1 id="what-is-hack-overflow-">What is Hack Overflow?</h1><br>
<p>Hack Overflow is an annual Hackathon for all engineering disciplines 
  including Hardware, Software, Computer, Electrical, Computer Science, 
  Mechanical, and Data Science Engineering. The purpose of HackOverflow 
  is to create a diverse environment where students can work hands-on on 
  society-impactful projects, network with peers and mentors, and attain 
  technical and professional skills that can be applied in their 
  academics and career. At HackOverflow, we strive to develop the 
  community through education, ideation, teamwork, initiative, and 
  invention. Our goal is to push innovation to the next level.</p>

  </body>
  </html>