<link rel="stylesheet" href="../assets/css/stacks.css">
<section id="section-container">
  <div class="stacks-1" >

    <img src="{{site.baseurl}}/assets/images/with_rocket.gif"/>

    <div class="stack-wrapper">
      <h1>Who Are We?</h1>
      <p>
      HackOverflow is an annual collegiate Hardware Hackathon that provides students from all 
      backgrounds and interests with a fun opportunity to learn, collaborate in teams, and build 
      physical product prototypes of what could be the next big thing.
      </p>
    </div>

  </div>

    <div style="padding:1rem;" ></div>

  <div class="stacks-2" >
    <div class="stack-wrapper">
      <h1>Why HackOverflow?</h1>
      <p>
        The purpose of HackOverflow is to create a diverse environment where students can work hands-on 
        with society-impactful projects and attain technical skills applicable for future careers. 
        There is ample opportunity to network with peers, mentors, and industry experts. 
      </p>
    </div>
    <img src="{{site.baseurl}}/assets/images/welcome_back.png"/>
  </div>

    <div style="padding:1rem;" ></div>

  <div class="stacks-1" >
    <img src="{{site.baseurl}}/assets/images/HOW_BoardPic.png"/>
    <div class="stack-wrapper">
      <h1>What's Our Vision?</h1>
      <p>
        At HackOverflow, we strive to develop the community through education, ideation, teamwork, 
        initiative, and invention. Our goal is to showcase the brilliance of technology and its power 
        to do wonders for society.
      </p>
    </div>
  </div>
</section>