<link rel="stylesheet" href="/assets/css/achievements.css">
<section id="achievements-section">
    <div class="achievements">
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">First Achievement</h3>
          <p class="achievement-description">Description of the first achievement.</p>
        </div>
        <div class="achievement-date">2023-01-15</div>
      </div>
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">Second Achievement</h3>
          <p class="achievement-description">Description of the second achievement.</p>
        </div>
        <div class="achievement-date">2023-04-20</div>
      </div>
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">Third Achievement</h3>
          <p class="achievement-description">Description of the third achievement.</p>
        </div>
        <div class="achievement-date">2023-09-05</div>
      </div>
      <!-- Add more achievements as needed -->
    </div>
  </section>