<link rel="stylesheet" href="/assets/css/achievements.css">
<section id="introduction-section">
  <div class="introduction">
    <p>At Tech for Good, we are proud of the milestones we’ve reached through hard work, innovation, and collaboration. Below are some of our most notable achievements that reflect our commitment to making a positive impact through technology.</p>
  </div>
</section>
<section id="achievements-section">
    <div class="achievements">
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">Maintain Mason - Community Service</h3>
          <p class="achievement-description">In collaboration with Student Government and other organizations, Tech for Good participated in the Maintain Mason initiative. Through our efforts, we collected over 180 pounds of trash, demonstrating our commitment to environmental stewardship and community service.</p>
        </div>
        <div class="achievement-date">2023 - 2024</div>
      </div>
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">3rd Place - Bitcamp (Best Use of AI/ML Innovation)</h3>
          <p class="achievement-description">On April 21st, 2024, Joshua Cancio and Arman Mahjoor earned 3rd place at Bitcamp for the Best Use of AI/ML Innovation for the Francis Scott Key Bridge Recovery Efforts. The project focused on utilizing Microsoft Azure Custom Vision to detect points of damage and effective points for recovery. This recognition underscores our commitment to using cutting-edge technology for real-world solutions.</p>
        </div>
        <div class="achievement-date">Spring 2024</div>
      </div>
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">2nd Place - Harvard Rare Disease Hackathon</h3>
          <p class="achievement-description">On March 18, 2024, Joshua Cancio, Jessica Nguyen, and Manas Nair represented Tech for Good at the Harvard Rare Disease Hackathon, where they secured 2nd place. Their project focused on addressing challenges related to the ADCY5 disease, showcasing our team's expertise and dedication to health tech innovation.</p>
        </div>
        <div class="achievement-date">Spring 2024</div>
      </div>
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">Best Use of Taipy at Georgetown University</h3>
          <p class="achievement-description">On January 28th, 2024, our project Recipio, led by Bela Palankar, Sasha Cherian, Annekke Van Gelder, and Arman Mahjoor, was recognized for the Best Use of Taipy at Georgetown University. This project is still under development by members of the team.</p>
        </div>
        <div class="achievement-date">Spring 2024</div>
      </div>
      <div class="achievement">
        <div class="achievement-info">
          <h3 class="achievement-title">3rd Place - BoostHacks</h3>
          <p class="achievement-description">At BoostHacks, an online hackathon with over 900 participants, our team comprising Arman Mahjoor, Funmiso Adeniyi, Athena Salomons, and Jessica Nguyen achieved 3rd place overall for the Lets Lunch project idea.</p>
        </div>
        <div class="achievement-date">Fall 2023</div>
      </div>
      <!-- Add more achievements as needed -->
    </div>
  </section>



  