<section id="section-container">
  <footer class="footer-section">
    <div class="footer-inner">
      <div class="footer-flex-row">
        <div class="footer-flex-col">
          <div class="footer-title">FOLLOW US</div>
          <div class="social-links">
            <a href="https://www.instagram.com/YourProfile" target="_blank">Instagram</a>
            <a href="https://www.linkedin.com/in/YourProfile" target="_blank">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
