<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<section id="section-container">
  <footer class="footer-section">
    <div class="footer-inner">
      <div class="footer-flex-row">
        <!-- Follow Us Section -->
        <div class="footer-flex-col">
          <div class="footer-title">FOLLOW US</div>
          <div class="social-links">
            <a href="https://www.linkedin.com" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
