<header class="header">
    <link rel="stylesheet" href="../assets/css/hamhead.css" />

    {% if page.layout == "post" %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css" />
    {% elsif page.layout == "contact" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/contact.css">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/blog.css" />
    {%endif%}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/common.css" />
    <script src="{{site.baseurl}}/assets/js/categories.js"></script>
    {% if page.layout == "post" %}
    <script defer src="{{site.baseurl}}/assets/js/lbox.js"></script>
    {% endif %}
    <a class="site-logo" href="{{site.baseurl}}/">
        <img src="../assets/icons/HOW_logo.png" alt class="img-logo">
      </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
              <!-- nav items -->
        {% for item in site.data.menu %}
          <li><a class="{% if page.url == item.link %} active{% endif %}
            "href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}

    </ul>
  </header>



