<header>
  <div class="header-inner">
    <!-- site logo -->
    <a class="site-logo" href="{{site.baseurl}}/">
      <img src="assets/icons/HOW_logo.png" alt class="img-logo">
    </a>
    <nav class="main-nav">
      <ul class="nav-list">
        <!-- nav items -->
        {% for item in site.data.menu %}
          <li><a class="{% if page.url == item.link %} active{% endif %}
            "href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div> 
</header>
