<link rel="stylesheet" href="/assets/css/leadership-team.css">
<section id="leadership-section">
    <h2 class="section-title">Meet The T4G Board:</h2>  
    <div class="leadership-spotlight">
      <div class="leader">
        <img src="../assets/images/Arman.jpeg" alt="Leader 1">
        <div class="leader-info">
          <h3 class="leader-name">Arman Mahjoor</h3>
          <p class="leader-position">President</p>
          <p class="leader-bio">WIP</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Funmiso.jpeg" alt="Leader 2">
        <div class="leader-info">
          <h3 class="leader-name">Funmiso Adeniyi</h3>
          <p class="leader-position">Vice President</p>
          <p class="leader-bio">WIP</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Annekke.jpg" alt="Leader 3">
        <div class="leader-info">
          <h3 class="leader-name">Annekke Van Gelder</h3>
          <p class="leader-position">Secretary</p>
          <p class="leader-bio">WIP</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Sthuthi.jpg" alt="Leader 4">
        <div class="leader-info">
          <h3 class="leader-name">Sthuthi Chakravarthy</h3>
          <p class="leader-position">PR Director</p>
          <p class="leader-bio">WIP</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Joshua.jpeg" alt="Leader 5">
        <div class="leader-info">
          <h3 class="leader-name">Joshua Cancio</h3>
          <p class="leader-position">Web Developer</p>
          <p class="leader-bio">WIP</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Ryan.jpg" alt="Leader 6">
        <div class="leader-info">
          <h3 class="leader-name">Ryan Mahjoor</h3>
          <p class="leader-position">Treasurer</p>
          <p class="leader-bio">WIP</p>
        </div>
      </div>
      <!-- Add more leaders as needed -->
    </div>

    <h2 class="section-title">Meet The T4G Interns:</h2>  
    <div class="leadership-spotlight">
      <div class="leader">
        <img src="../assets/images/Robel.JPG" alt="Leader 6">
        <div class="leader-info">
          <h3 class="leader-name">Robel Bereket</h3>
          <p class="leader-position">Intern</p>
          <p class="leader-bio">WIP</p>
        </div>
      </div>
      </div>
  </section>