<link rel="stylesheet" href="/assets/css/leadership-team.css">
<section id="leadership-section">
    <h2 class="section-title">Leadership Spotlight (possibly a sub header to use)</h2>  
    <div class="leadership-spotlight">
      <div class="leader">
        <img src="../assets/images/Arman.jpeg" alt="Leader 1">
        <div class="leader-info">
          <h3 class="leader-name">Arman Mahjoor</h3>
          <p class="leader-position">CEO</p>
          <p class="leader-bio">John Doe is the CEO of XYZ Company. He has over 20 years of experience in...</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Funmiso.jpeg" alt="Leader 2">
        <div class="leader-info">
          <h3 class="leader-name">Funmiso Adeniyi</h3>
          <p class="leader-position">CTO</p>
          <p class="leader-bio">Jane Smith is the Chief Technology Officer at ABC Inc. She specializes in...</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Annekke.jpg" alt="Leader 1">
        <div class="leader-info">
          <h3 class="leader-name">Annekke Van Gelder</h3>
          <p class="leader-position">Secretary</p>
          <p class="leader-bio">John Doe is the CEO of XYZ Company. He has over 20 years of experience in...</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Sthuthi.jpg" alt="Leader 1">
        <div class="leader-info">
          <h3 class="leader-name">Sthuthi Chakravarthy</h3>
          <p class="leader-position">PR Director</p>
          <p class="leader-bio">John Doe is the CEO of XYZ Company. He has over 20 years of experience in...</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Joshua.jpeg" alt="Leader 1">
        <div class="leader-info">
          <h3 class="leader-name">Joshua Cancio</h3>
          <p class="leader-position">Web Developer</p>
          <p class="leader-bio">John Doe is the CEO of XYZ Company. He has over 20 years of experience in...</p>
        </div>
      </div>
      <div class="leader">
        <img src="../assets/images/Ryan.jpg" alt="Leader 1">
        <div class="leader-info">
          <h3 class="leader-name">Ryan Mahjoor</h3>
          <p class="leader-position">Treasurer</p>
          <p class="leader-bio">John Doe is the CEO of XYZ Company. He has over 20 years of experience in...</p>
        </div>
      </div>
    </div>
  </section>