<link rel="stylesheet" href="../assets/css/projects.css">
<section id="projects-section">
    <h2 class="section-title">Completed Projects:</h2>
    <div class="projects-list">
      <div class="project-card">
        <h3 class="project-title">Recip.io</h3>
        <p class="project-description">Recip.io is an application designed to help reduce food waste by providing users with recipe suggestions based on the ingredients they have on hand. Users can input the ingredients they have available, along with any allergies or dietary restrictions, and the app will generate recipes that match these criteria.</p>
        <a href="https://link-to-project-1.com" class="project-link">Learn More</a>
      </div>
      <div class="project-card">
        <h3 class="project-title">Lets Lunch</h3>
        <p class="project-description">"Let's Lunch" is a project by Tech for Good that aims to connect students at George Mason University over lunchtime. As a commuter school, many students on campus may not have opportunities to meet new people to share a meal with. The "Let's Lunch" application addresses this issue by helping students connect and make new friends over lunch, fostering a sense of community and improving social interactions among students.</p>
        <a href="https://link-to-project-2.com" class="project-link">Learn More</a>
      </div>
      <div class="project-card">
        <h3 class="project-title">Patriot Email Add On</h3>
        <p class="project-description">The Patriot Email Add On project involves a browser extension that allows students to email themselves a downloadable file of their schedule. This tool is likely designed to simplify the process of managing and accessing their academic schedules, enhancing productivity for students.</p>
        <a href="https://link-to-project-3.com" class="project-link">Learn More</a>
      </div>
      <div class="project-card">
        <h3 class="project-title">SRCT Mason Building API</h3>
        <p class="project-description">The Mason Building API was a project maintained by Tech for Good in collaboration with SRCT (Student-Run Computing and Technology) at GMU. The purpose of this project was to provide updates on building hours and availability across the GMU campus through a publicly accessible API, ensuring students have access to accurate and up-to-date information about when and where they could access campus facilities and for developers interested in working with the data.</p>
        <a href="https://link-to-project-1.com" class="project-link">Learn More</a>
      </div>
      <!-- Add more project cards as needed -->
    </div>
  </section>