<!-- Tab Section With ID attribute Start -->
<link rel="stylesheet" href="../assets/css/schedule.css">
<script src="../assets/js/schedule.js"></script>
<a class="anchor" id="schedule"></a>
<section id="section-container">
    <div class="w3-container">
        <center><h1>Schedule</h1></center>
        <center>
        <div class="w3-bar w3-black">
          <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'Day 1')">Day 1</button>
          <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Day 2')">Day 2</button>
          <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Day 3')">Day 3</button>
        </div>
        
        <div id="Day 1" class="w3-container w3-border city">
          <img src="../assets/images/friday-wttxt.png">
        </div>
      
        <div id="Day 2" class="w3-container w3-border city" style="display:none">
            <img src="../assets/images/saturday-wttxt.png">
        </div>
      
        <div id="Day 3" class="w3-container w3-border city" style="display:none">
            <img src="../assets/images/sunday-wttxt.png">
        </div>
      </div>
    </center>
</section>
  <!-- Tab Section With ID attribute End -->