<center>
    <br />
    <br />
    <h2>🚨 ANNOUNCEMENT 🚨</h2>
    <h3 class="white-color">NEW MINI-EVENT:</h3>
    <grabatt>
        <p style="font-size: 4rem">SPEEDHACK</p>
    </grabatt>
    <br />
    <h4 class="white-color" style="font-size: 1.3rem">
        <span class="white-color">MAY 9TH, 2024</span> @ 9AM-6PM IN HORIZON HALL
        <br />
        !! ONLY 50 SPOTS !!
    </h4>
    <p style="font-size: 1.5rem">
        <a
            style="text-decoration: underline"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=VXKFnlffR0ygwAVGRgOAy5Etmpn0wA9PhzazFCo-mhlUNThUWUlWR0k1MUI2WU9FMjYyNUtOVVNaQy4u"
        >
            Register Here!</a
        >
    </p>
</center>
