:root {
    --gray-1: #3f3f3f;
    --gray-2: #32353a;
    --dark-green-3: #008243;
    --gray-4: #151618;
    --gray-5: #151618;
    --gray-6: #111111;
    --white-1: #eeeeee;
    --white-2: #a9abb3;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: var(--gray-6);
    overflow-x: hidden; /* Prevent horizontal overflow */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green-3) !important; /* Set the background color to green */
}


a {
    color: rgb(255, 255, 255);
}

/* header */

header {
    text-align: justify;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px;
    background-color: var(--dark-green-3);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 3;
    height: 3em;
    right: 0px;
    left: 0px;
}

.dark-mode {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
}

/* .dark-mode a {
    color: #bb86fc;
} */

/* Add this CSS to your stylesheet */
.dark-mode section {
    background-color: #000000 !important; /* Black background */
    color: #ffffff; /* White text */
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode main {
    background-color: #000000;
}

/* Add this CSS to your stylesheet */
.dark-mode body {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
}

.dark-mode .area {
    background-color: black;
}


/* Style the dark mode button */
.dark-mode-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: inherit; /* Inherit text color for dark mode */
}

.dark-mode-button i {
    color: #ffffff; /* White icon for dark mode */
}

/* Ensure the button is visible in light mode as well */
header {
    position: relative;
}


/* .dark-mode footer {
    background-color: #ffffff;
    color: black;
} */

/* .dark-mode footer a {
    color: #000000;
} */

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

.header li a {
    display: block;
    padding: 15px 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin: 10px 0;
}

.header .menu-btn:hover {
    background-color: var(--gray-1);
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: none;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 25px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: var(--gray-2);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--white-1);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 1000%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    display: none;
    z-index: 2; 
}

.overlay.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5); 
}

.mobile-only {
    position: absolute;
    right: 50px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 10;
}

@media (min-width: 1250px) {
    /* .dark-mode-button {
        position: relative;
        right: auto;
        left: 20px; 
    } */

    body {
        overflow-x: hidden; /* Prevent horizontal overflow */
    }

    .mobile-only {
        display: none;
    }
    .header .menu {
        max-height: none;
        display: block; 
    }
    .header li {
        float: left;
    }
    .header li a {
        padding: 10px 30px;
        margin: 0px 5px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }

    .header {
        border-radius: 0;
        margin: 0;
        
    }

    .overlay.tabs-visible {
        background-color: rgba(0, 0, 0, 0);

    }
}