a.anchor{display: block; position: relative; top: -125px; visibility: hidden;}
.tablink{
  background-color: #3f3f3f;
  color: #EEEEEE;
  font-size: 21px;
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 15px;
  border: none;
}
.tablink:hover{
  background-color: grey;
  color: #EEEEEE;;
}
.tablink.w3-red{
  background-color:  #EEEEEE;
  color: #3f3f3f;
}
.city img{
  width: 60%;
}

