<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main>
  {% include header.html %}
  <script src="../assets/js/pullupButton.js"></script>
  <button onclick="topFunction()" id="scrollButton" title="Go to top">Top</button>
  <section class="article">
    <div class="article-header">

      <h2 class="article-title">{{page.title}}</h2>
      <small class="date">{{page.date | date_to_string}}</small>
      <div class="categories">
        {% for c in page.categories %}
        <a href="#!" class="category">{{c}}</a>
        {% endfor %}
      </div>

      <div class="container">
        <form action="submit.php">

          <!-- <label for="name">Your Name:</label> -->
          <input type="text" id="name" name="your name" placeholder="Name">

          <!-- <label for="email">Email:</label> -->
          <input type="text" id="email" name="email" placeholder="Email">

          <!-- <label for="subject">Subject:</label> -->
          <textarea id="subject" name="subject" placeholder="Message" style="height:10rem"></textarea>

          <input type="submit" value="Submit">

        </form>
      </div>

    </div>
    <div class="content">{{content}}</div>
  </section>
  {% include footer.html %}
</main>
{% include category-modal.html%}
</body>
</html>
