<!DOCTYPE html>
<html lang="en">
  {% include hamhead.html %}
  <body>
    <main>
      <div style="padding:5rem" ></div>
      {% include bio.html %}

      <!-- <script src="../assets/js/pullupButton.js"></script>
      <button onclick="topFunction()" id="scrollButton" title="Go to top">^</button> -->

<link rel="stylesheet" href="../assets/css/stacks.css">
<div class="stacks-1" style="display:block" >

  <div>
  <p class="white-color">
    <span class="dark-gray-color">Q:</span> Do I need to create my own group before the hackathon?
  </p>
  <p style="color: var(--white-2)">
    <span class="dark-gray-color">A:</span> <span class="white-color">No</span>, we will have a team builder workshop that’ll allow you to meet people. You can also use our Discord server @ #team-formation to find your team.
  </p>
  </div>

  <br>

  <div>
    <p class="white-color">
      <span class="dark-gray-color">Q:</span> When is HackOverflow?
    </p>
    <p style="color: var(--white-2)">
      <span class="dark-gray-color">A:</span> It will be hosted on <span class="white-color">September 27-29th, 2024</span>, so next semester in the Fall!
    </p>
    </div>

    <br>

  <div>
    <p class="white-color">
      <span class="dark-gray-color">Q:</span> How beginner friendly is it going to be?
    </p>
    <p style="color: var(--white-2)">
      <span class="dark-gray-color">A:</span> Our hackathon is <span class="white-color">open to all levels</span>, and <span class="white-color">ANY MAJOR</span> is allowed to join. We’ll have mentors in the Mix as well who will assist you with your project. Our workshops will also be beginner-friendly, so no experience is needed!
    </p>
    </div>

    <br>

  <div>
    <p class="white-color">
      <span class="dark-gray-color">Q:</span> How exactly is this program going to be working if people have a class on the listed days?
    </p>
    <p style="color: var(--white-2)">
      <span class="dark-gray-color">A:</span> You’re <span class="white-color">not required</span> to be at the hackathon at all times, but <span class="white-color">you will have to check-in on the first day</span>. Anyone that checks in after that won’t be allowed in unless you let us know <span class="white-color">24 hours beforehand</span>. You’ll also be responsible for finding a team on the first day, so take advantage of our discord server to find a team.
    </p>
    </div>

    <br>

  <div>
    <p class="white-color">
      <span class="dark-gray-color">Q:</span> What is something I can study so I can be well experienced and educated to participate in this event??
    </p>
    <p style="color: var(--white-2)">
      <span class="dark-gray-color">A:</span> You can learn how to use Arduino, Raspberry Pi, breadboards, and other components. Once again though, you’re not required to have any experience, but you are more than welcome to learn prior to the event.
    </p>
    </div>

    <br>

  <div>
    <p class="white-color">
      <span class="dark-gray-color">Q:</span> I have absolutely 0 experience with Hackathons, will information be provided to help us find a way to turn our actual ideas into practical implementation?

    </p>
    <p style="color: var(--white-2)">
      <span class="dark-gray-color">A:</span> <span class="white-color">Yes!</span> We will host workshops to help you direct yourself in the right direction along with mentors in the Mix. 
    </p>
    </div>

</div>

      
      <section class="articles">  </body>
        </html>
        