<!DOCTYPE html>
<html lang="en">
  {% include hamhead.html %}
  <body>
    <main>
      {% include header.html %}
      {% include title-animated.html %}
      {% include bio.html %}

      <!-- <script src="../assets/js/pullupButton.js"></script>
      <button onclick="topFunction()" id="scrollButton" title="Go to top">^</button> -->

<link rel="stylesheet" href="../assets/css/stacks.css">
<div class="stacks-2" >

  <div>
  <p>
    Q: Is HackOverflow only for engineering majors?
  </p>
  </div>
  <div>
    A: Nope, we're open to all majors!
  </div>

</div>

  <div style="padding:1rem;" ></div>

<div class="stacks-3" >
  <div>
    <p>
        Q: Can grad students participate?
    </p>
  </div>
  <div>
        A: Yes, anyone 18+ can join.
    </div>
</div>

  <div style="padding:1rem;" ></div>

<div class="stacks-1" >
  <div>
    Q: How many members can form a team?
  </div>
  <div>
    <p>
        A: Each team will consist of five members.
    </p>
  </div>
</div>

<div style="padding:1rem;" ></div>

<div class="stacks-2" >

    <div>
    <p>
        Q: Will we be put into teams or do we have to find our own teammates?
    </p>
    </div>

    <div>
        A: You can register with your own teammates and we'll put you into a group if you don't meet the team requirement.
    </div>
  
  </div>
      
      <section class="articles">  </body>
        </html>
        