<!DOCTYPE html>
<html lang="en">
  {% include hamhead.html %}
  <body>
 
      <div class="context">
        <h1>Tech For Good</h1>
        <p>Leveraging technology to drive positive social impact.</p>
    </div>


<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
    
      {% include footer.html %}

    {% include category-modal.html%}
  </body>
</html>
