<!DOCTYPE html>
<html lang="en">
  
  <head>
    {% include hamhead.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/home.css">
  </head>
  <body>
    <main>
      <div class="area">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="context">
        <h1>TECH FOR GOOD</h1>
        <p>To leverage technology to drive positive social change, addressing issues in healthcare, education, equity, and sustainability.</p>
      </div>

      {% include footer.html %}
    </main>
    {% include category-modal.html %}
  </body>
</html>
