<!DOCTYPE html>
<html lang="en">
  {% include hamhead.html %}
  <body>
    <main>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/home.css">
  </head>
<div class="context">
    <h1>TECH FOR GOOD</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >

{% include footer.html %}
</main>
{% include category-modal.html%}
</body>
</html>